/* header title font */

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.main-color {
  font-family: "Berkshire Swash", cursive;
  color: #ff5e19;
}

.extra-height {
  height: 35rem;
}

.card {
  height: 25rem;
}
