/* header title font */

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.main-color {
  font-family: "Berkshire Swash", cursive;
  color: #ff5e19;
}

.extra-height {
  height: 35rem;
}

.card {
  height: 26rem;
  background-color: rgb(68, 67, 67);
}

#player-list {
  padding: 3rem;
}

tbody {
  background-color: black;
}
